body{
    background-image: url("../img/title.png");
    background-position: center;
    background-attachment: fixed;
}

.options{
    display: block;
    left:46%;
    top: 360px;
    position: relative;
}

@media only screen and (max-width: 1280px) {
    display: block;
    left:50%;
    top: 360px;
    position: relative;
}

@media only screen and (max-width: 200px) {
.options{
    display: block;
    left:35%;
    top: 360px;
    position: relative;
}
}